__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.ipynb_checkpoints/
.vscode/
Literatur/

Results_GB_FullBins/RunBest_GB_FullBins.py
Results_GB_FullBins/RunRS_GB_FullBins.py
Results_GB_FullBins/RunSS_GB_FullBins.py
